<!--Creating the input filed with the (input) event where we pased the method from .ts file and pased as argument $event which is reserved keyword for reciving input data-->
<label for="">Server Name</label>

<input
   type="text"
   class="form-control"
   [(ngModel)]="serverName"    
>
<p>{{ serverName }}</p>
<!--Creating button with property binding we bind the propraty diable with oru method-->
<!--(click) is the angular whay of onClick event and after this we signed in the method which we call and which will happend when someone clikc-->
<button calss="btn btn-danger" [disabled]="!allowNewServer" (click)="onCreateServer()">
  
Add Server</button>
<!--<p [innerText]="allowNewServer"></p>-->
<p>{{ serverCreationStatus }}</p>
<!--Calling the another component in this component which will be the parent and which will be render in the app.component.html-->

<app-server></app-server>
<app-server></app-server>
